.hero-intro,
.hero-line {
    font-family: 'Montserrat', sans-serif;
}

.hero-name,
.hero-desc {
    font-family: 'Montserrat Alternates', sans-serif;
}

.work-btn {
    font-family: 'Share Tech Mono', monospace;
}

.socials {
    font-size: 1.2rem;
}